<extend name='Layout:main'/>
<block name='css'>
    <css href='__CSS__/home.css'/>
    <css href='__CSS__/address.css'/>
</block>
<block name='js'>
    <js href='__JS__/home.js'/>

</block>
	<block name='main'>
<div style="clear:both;"></div>

	<!-- 页面主体 start -->
	<div class="main w1210 bc mt10">
		<div class="crumb w1210">
			<h2><strong>我的XX </strong><span>> 我的订单</span></h2>
		</div>
		
		<!-- 左侧导航菜单 start -->
		<div class="menu fl">
			<h3>我的XX</h3>
			<div class="menu_wrap">
				<dl>
					<dt>订单中心 <b></b></dt>
					<dd><b>.</b><a href="">我的订单</a></dd>
					<dd><b>.</b><a href="">我的关注</a></dd>
					<dd><b>.</b><a href="">浏览历史</a></dd>
					<dd><b>.</b><a href="">我的团购</a></dd>
				</dl>

				<dl>
					<dt>账户中心 <b></b></dt>
					<dd class="cur"><b>.</b><a href="">账户信息</a></dd>
					<dd><b>.</b><a href="">账户余额</a></dd>
					<dd><b>.</b><a href="">消费记录</a></dd>
					<dd><b>.</b><a href="">我的积分</a></dd>
					<dd><b>.</b><a href="">收货地址</a></dd>
				</dl>

				<dl>
					<dt>订单中心 <b></b></dt>
					<dd><b>.</b><a href="">返修/退换货</a></dd>
					<dd><b>.</b><a href="">取消订单记录</a></dd>
					<dd><b>.</b><a href="">我的投诉</a></dd>
				</dl>
			</div>
		</div>
		<!-- 左侧导航菜单 end -->

		<!-- 右侧内容区域 start -->
		<div class="content fl ml10">
			<div class="address_hd">
				<h3>收货地址薄</h3>
				<dl>
					<dt>1.许坤 北京市 昌平区 仙人跳区 仙人跳大街 17002810530 </dt>
					<dd>
						<a href="">修改</a>
						<a href="">删除</a>
						<a href="">设为默认地址</a>
					</dd>
				</dl>
				

			</div>

			<div class="address_bd mt10">
				<h4>新增收货地址</h4>
				<form action="{:U('add')}" name="address_form" method='post'>
						<ul>
							<li>
								<label for=""><span>*</span>收 货 人：</label>
								<input type="text" name="name" class="txt" value='{$row.name}'/>
							</li>
							<li id='location'>
                            <label for=""><span>*</span>所在地区：</label>
                            <input type="hidden" name='province_name' id='province_name'/>
                            {:arr2select($provinces,'province_id','id','name')}

                            <input type="hidden" name='city_name' id='city_name'/>
                            {:arr2select([],'city_id','id','name')}

                            <input type="hidden" name='area_name' id='area_name'/>
                            {:arr2select([],'area_id','id','name')}
                        </li>
							<li>
								<label for=""><span>*</span>详细地址：</label>
								<input type="text" name="detail_address" class="txt address" value='{$row.detail_address}' />
							</li>
							<li>
								<label for=""><span>*</span>手机号码：</label>
								<input type="text" name="" class="txt" />
							</li>
                                                 <li>
                                                     <label for="">&nbsp;</label>
                                                     <input type="checkbox" name="is_default" id='is_default' class="check" value='1'/>设为默认地址
                                                 </li>
							<li>
								<label for="">&nbsp;</label>
								<input type="submit" name="" class="btn" value="保存" />
							</li>
						</ul>
					</form>
			</div>	

		</div>
		<!-- 右侧内容区域 end -->
	</div>
	<!-- 页面主体 end-->
  </block>

<block name='js'>
    <script type='text/javascript'>
        $(function(){
            //三级联动
            //切换省份时候
            var province_node = $('.province_id');
            var city_node = $('.city_id');
             var area_node = $('.area_id');
            var url = '{:U("getListByParentId")}';
            province_node.change(function(){
                //发送ajax请求 获取市级菜单.
                city_node.get(0).length=1;
                area_node.get(0).length=1;
                show_sub_localhost($(this).val(),city_node);
            });
            
             city_node.change(function(){
                //发送ajax请求 获取市级菜单.
                area_node.get(0).length=1;
                show_sub_localhost($(this).val(),area_node);
            });
            
            /**
             * 展示下级城市
             */
            function show_sub_localhost(parent_id,show_node){
                var data = {parent_id:parent_id};
                //发送请求
                $.getJSON(url,data,function(response){
                    //将json解析添加到控件中
                    $(response).each(function(){
                        var html = '<option value="'+this.id+'">'+this.name+'</option>';
                        $(html).appendTo(show_node);
                    });
                });
            }
            
            //事件委托
            $('#location').on('change','select',save_address_name);
            
            function save_address_name(){
                var province_name = $('.province_id').find('option:checked').text();
                $('#province_name').val(province_name);
                var city_name = $('.city_id').find('option:checked').text();
                $('#city_name').val(city_name);
                var area_name = $('.area_id').find('option:checked').text();
                $('#area_name').val(area_name);
            }
        });
    </script>
</block>