<extend name='Layout:shopping'/>
<block name='css'>
    <css href="__CSS__/fillin.css"/>
</block>
<block name="js">
    <js href="__JS__/cart2.js"/>
    <script type="text/javascript">
        $(function(){
            $(':input[name=delivery]').click(function(){
                calc_money($(this).attr('price'));
            });
            
            function calc_money(delivery_price){
                $('.delivery-price').text('￥'+delivery_price);
                var total_price = parseFloat({$total_price}) + parseFloat(delivery_price);
                total_price = total_price.toFixed(2);
                console.debug(total_price)
                $('.total_price').text('￥'+ total_price);
            }
        });
        function do_submit(){
            $('form')[0].submit();
        }
    </script>
</block>
<block name='main'>
    <!-- 主体部分 start -->
    <form action="{:U('OrderInfo/add')}" method="post">
    <div class="fillin w990 bc mt15">
        <div class="fillin_hd">
            <h2>填写并核对订单信息</h2>
        </div>

        <div class="fillin_bd">
            <!-- 收货人信息  start-->
            <div class="address">
                <h3>收货人信息 </h3>
                <div class="address_info">
                    <foreach name="addresses" item="address">
                    <p>
                        <input type="radio" value="{$address.id}" name="address_id" <eq name="address.is_default" value="1">checked="checked"</eq>/>{$address.name}  {$address.tel}  {$address.province_name} {$address.city_name} {$address.area_name} {$address.detail_address}
                    </p>
                    </foreach>
                </div>
            </div>
            <!-- 收货人信息  end-->

            <!-- 配送方式 start -->
            <div class="delivery">
                <h3>送货方式 <a href="javascript:;" id="delivery_modify">[修改]</a></h3>
                <div class="delivery_info">
                    <p>普通快递送货上门</p>
                    <p>送货时间不限</p>
                </div>

                <div class="delivery_select none">
                    <table>
                        <thead>
                            <tr>
                                <th class="col1">送货方式</th>
                                <th class="col2">运费</th>
                                <th class="col3">运费标准</th>
                            </tr>
                        </thead>
                        <tbody>
                        <foreach name="deliveries" item="delivery">
                            <tr class="cur">	
                                <td>
                                    <input type="radio" name="delivery_name" price="{$delivery.price}" <eq name="delivery.is_default" value="1">checked="checked"</eq>  value="{$delivery.name}"/>{$delivery.name}
                                </td>
                                <td>￥{$delivery.price}</td>
                                <td>{$delivery.intro}</td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    <a href="" class="confirm_btn"><span>确认送货方式</span></a>
                </div>
            </div> 
            <!-- 配送方式 end --> 

            <!-- 支付方式  start-->
            <div class="pay">
                <h3>支付方式 <a href="javascript:;" id="pay_modify">[修改]</a></h3>
                <div class="pay_info">
                    <p>点击选择</p>
                </div>

                <div class="pay_select none">
                    <table> 
                        <foreach name="payments" item="payment">
                            <tr class="cur">
                                <td class="col1"><input type="radio" name="pay_type"  <eq name="payment.is_default" value="1">checked="checked"</eq> value="{$payment.id}"/>{$payment.name}</td>
                                <td class="col2">{$payment.intro}</td>
                            </tr>
                        </foreach>
                    </table>
                    <a href="" class="confirm_btn"><span>确认支付方式</span></a>
                </div>
            </div>
            <!-- 支付方式  end-->

            <!-- 发票信息 start-->
            <div class="receipt">
                <h3>发票信息 <a href="javascript:;" id="receipt_modify">[修改]</a></h3>
                <div class="receipt_info">
                    <p>个人发票</p>
                    <p>内容：明细</p>
                </div>

                <div class="receipt_select none">
                    <form action="">
                        <ul>
                            <li>
                                <label for="">发票抬头：</label>
                                <input type="radio" name="type" checked="checked" class="personal" value="1" />个人
                                <input type="radio" name="type" class="company" value="2"/>单位
                                <input type="text" class="txt company_input" disabled="disabled" name="company_name"/>
                            </li>
                            <li>
                                <label for="">发票内容：</label>
                                <input type="radio" name="content" checked="checked" value="1"/>明细
                                <input type="radio" name="content"  value="2"/>办公用品
                                <input type="radio" name="content"  value="3"/>体育休闲
                                <input type="radio" name="content"  value="4"/>耗材
                            </li>
                        </ul>						
                    </form>
                    <a href="" class="confirm_btn"><span>确认发票信息</span></a>
                </div>
            </div>
            <!-- 发票信息 end-->

            <!-- 商品清单 start -->
            <div class="goods">
                <h3>商品清单</h3>
                <table>
                    <thead>
                        <tr>
                            <th class="col1">商品</th>
                            <th class="col3">价格</th>
                            <th class="col4">数量</th>
                            <th class="col5">小计</th>
                        </tr>	
                    </thead>
                    <tbody>
                    <foreach name="goods_infos" item="goods">
                        <tr>
                            <td class="col1"><a href=""><img src="__UPLOAD_URL_PREFIX__/{$goods.logo}" alt="" /></a>  <strong><a href="">{$goods.name}</a></strong></td>
                            <td class="col3">￥{$goods.shop_price}</td>
                            <td class="col4"> {$goods.amount}</td>
                            <td class="col5"><span>￥{$goods.sub_total}</span></td>
                        </tr>
                    </foreach>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul>
                                    <li>
                                        <span>4 件商品，总商品金额：</span>
                                        <em>￥{$total_price}</em>
                                    </li>
                                    <li>
                                        <span>运费：</span>
                                        <em class="delivery-price">￥{$delivery_price}</em>
                                    </li>
                                    <li>
                                        <span>应付总额：</span>
                                        <em class="total_price">￥{:money_format($total_price+$delivery_price)}</em>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- 商品清单 end -->

        </div>

        <div class="fillin_ft">
            <a href="javascript:;" onclick="do_submit()"><span>提交订单</span></a>
            <p>应付总额：<strong class="total_price">￥{:money_format($total_price+$delivery_price)}</strong>元</p>

        </div>
    </div>
    </form>
    <!-- 主体部分 end -->
</block>
